.compare-card {
  width: 100%;
  height: 400px;
  margin: 15px;
}

.compare-card-content {
  height: 350px;
}

.chart-container {
    flex: 1;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: visible;
  }

.label {
    color: blueviolet;
    margin-right: 10px;
  }

.text-inside-grid {
    position: absolute;
    left: 5px;
  }
