<h2 mat-dialog-title>Create Company</h2>


<mat-dialog-content [formGroup]="form">

    <mat-grid-list cols="2" rowHeight="60px">
        <mat-grid-tile>
    <mat-form-field style="width: 205px;">

        <input matInput
                placeholder="Company Name"
               formControlName="name">

    </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field style="width: 205px;">

          <input matInput
          placeholder="CEO Name"
         formControlName="ceo">

      </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
          <mat-form-field style="width: 205px;">

              <input matInput
              placeholder="Code"
             formControlName="code">

          </mat-form-field>
          </mat-grid-tile>

    <mat-grid-tile>
    <mat-form-field style="width: 205px;">

        <input matInput
        placeholder="Turnover (Month)"
       formControlName="turnover">

    </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
    <mat-form-field>

        <input matInput [min]="minDate" [matDatepicker]="startDatepicker" placeholder="Open Date Time" formControlName="ipodate">

        <mat-datepicker-toggle matSuffix
                               [for]="startDatepicker">

        </mat-datepicker-toggle>

        <mat-datepicker #startDatepicker></mat-datepicker>

    </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field style="width: 205px;">
        <mat-label>Select Sector</mat-label>
        <mat-select formControlName="sectorid">
          <mat-option *ngFor="let sector of sectors" [value]="sector.id">
            {{sector.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
    <mat-form-field style="width: 205px;">

        <input matInput
        placeholder="Stock Code"
       formControlName="stockcode">

    </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
    <mat-form-field style="width: 205px;">

        <input matInput placeholder="Description"
            formControlName="description">

    </mat-form-field>
    </mat-grid-tile>

  </mat-grid-list>
</mat-dialog-content>

<mat-dialog-actions align="end">

    <button mat-button mat-dialog-close
            (click)="close()">
        Cancel
    </button>

    <button [disabled]="loading" [disabled]="!form.valid" mat-button cdkFocusInitial
            (click)="save()">
        Save
    </button>

</mat-dialog-actions>

